{% extends 'base.html' %}
{% load static %}


{% block title %}
    - Locations
{% endblock %}

{% block pageheader %}

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h3>Locations</h3>
                <hr class="mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                <p class="lead">
                    Would you like to drink our wonderful coffee somewhere other than home? Well you're in luck. 
                    For a limited time these wonderful cafes are brewing and serving one or more of our coffees! 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="product-container col-12">
                <div class="row">
                    {% for location in locations %}
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="card h-100 border-0 rounded-0">
                                {% if location.image %}
                                    <img class="card-img-top img-fluid" src="{{ location.image.url }}" alt="{{ location.location }}">
                                {% else %}
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}placeholdersm.jpg" alt="{{ location.location }}">
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="lead">{{ location.location}}</p>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col">
                                            {% if location.start_date %}
                                                <small class="text-muted">{{ location.start_date }} - </small>
                                            {% endif %}
                                            {% if location.end_date %}
                                                <small class="text-muted">{{ location.end_date }}</small>
                                            {% endif %}
                                            <p class="mb-0 text-left">{{ location.description }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            {% if request.user.is_superuser %}
                                            <div>
                                                <a class="blue" href="{% url 'edit_location' location.id %}">Edit</a> |
                                                <a class="orange" href="{% url 'delete_location' location.id %}">Delete</a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-4">
                                <hr class="brown">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-4">
                                <hr class="brown">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block mb-4">
                                <hr class="brown">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-btn shadow-sm">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-angle-up fa-lg brown mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
{% endblock %}