{% extends 'base.html' %}
{% load static %}


{% block pageheader %}

{% endblock %}

{% block content %}
    <div id="index-full">
        <div class="container" id="title">
            <div class="row">
                <div class="col-12 my-auto text-center">
                    <h1 id="index-title">CoffeeShop</h1>
                    <h3 id="index-sub">Only the best quality specialty coffee</h3>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 text-center index-grab">
                    <h5>Check out our great coffee subscription options!</h5>
                    <a href="" class="btn btn-lg">go to subscriptions</a>
                </div>
            </div> -->
        </div>
    </div>
    
{% endblock %}