{% extends 'base.html' %}
{% load static %}


{% block pageheader %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3>Shopping Basket</h3>
                <hr class="mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if basket_items %}
                    <div>
                        {{ basket_items }}
                    </div>
                {% else %}
                    <p>Your basket is empty</p>
                    <a href="{% url 'products' %}" class="btn btn-lg"><i class="fas fa-arrow-circle-left brown"></i>Check out our products!</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}