/* site wide styling */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Varela+Round&display=swap');

html, body {
    height: 100%;
}

body {
    /* background: url(/media/header.jpg) top / cover no-repeat scroll; */
    background-color: #f8eded;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif !important;
}

/* background-color: #f8eded */

.orange {
    color: #FF6400;
}

.blue {
    color: #2B78E4;
}

.brown {
    color: #4A1E00;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* index styling */
#index-full {
    height: 100vh;
    background: url(/media/index-sm.jpg) top / cover no-repeat scroll;
    color: #4A1E00;
}

.search-icon {
    background-color: white;
}

#title {
    padding-top: 5vh;
}

/* mailchimp */
#mc_embed_signup form {
    padding: 0;
}

body > footer {
    width: 100%;
    /* background-color: white; */
    /* position: sticky;
    top: 100vh; */
}

/* products page styling */
.btt-btn {
    height: 35px;
    width: 35px;
    position: fixed;
    bottom: 30px;
    right: 15px;
    border: solid 1px;
    border-color: #4A1E00;
}

.btt-link, .update-link, .remove-item {
    cursor: pointer;
}