/* site wide styling */
html, body {
    height: 100%;
}

body {
    background: url(/media/header.jpg) top / cover no-repeat scroll;
}

.orange {
    color: #FF6400;
}

.blue {
    color: #2B78E4;
}

.brown {
    color: #4A1E00;
}

/* index styling */
#search-icon {
    background-color: white;
}

#title {
    padding-top: 5vh;
}


body > footer {
    width: 100%;
    background-color: #2B78E4;
    position: sticky;
    top: 100vh;
}