/* site wide styling */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Varela+Round&display=swap');

html, body {
    height: 100%;
}

body {
    background-color: #f8eded;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #4A1E00;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif !important;
}

h3 {
    color: #FF6400;
}

#site-title:hover {
    color: #FF6400 !important;
}

.orange {
    color: #FF6400;
}

.blue {
    color: #2B78E4;
}

.brown {
    color: #4A1E00;
}

#free-del {
    background-color: #2B78E4;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-border {
    margin: auto 5px;
    border: solid 1px #FF6400;
    border-radius: 5px;
}

.btn-border:hover {
    margin: auto 5px;
    border: solid 1px #2B78E4;
    border-radius: 5px;
}

footer {
    padding-top: 3rem;
}

#footer-title-sub {
    text-align: center;
}

/* index styling */
#index-full {
    height: 100vh;
    background: url(/media/index-sm.jpg) top / cover no-repeat scroll;
    color: #4A1E00;
}

.search-icon {
    background-color: white;
}

#title {
    padding-top: 10vh;
}

#index-title {
    font-size: 5rem;
}

#index-sub {
    font-size: 3rem;
    color: #4A1E00;
}

.index-grab {
    margin-top: 5rem;
    font-size: 1.5rem;
    background-color: #2B78E4;
}

/* mailchimp */
#mc_embed_signup form {
    padding: 0;
}

/* products page styling */
.btt-btn {
    height: 35px;
    width: 35px;
    position: fixed;
    bottom: 40px;
    right: 15px;
    border: solid 1px;
    border-color: #4A1E00;
}

.btt-link, .update-link, .remove-item {
    cursor: pointer;
}

/* admin control page styling */
.btn-file {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

/* error pages styling */
.errorpage-full {
    height: 100vh;
    background: url(/media/error.jpg) top / cover no-repeat scroll;
    color: #4A1E00;
}

.errorpage-padding {
    padding-top: 10vh;
}

.errorpage-title {
    font-size: 5rem;
}

.errorpage-sub {
    font-size: 3rem;
    color: #4A1E00;
}

/* media queries */
@media (min-width:1024px) {
    nav li > a {
        margin: auto 5px;
        border: solid 1px #FF6400;
        border-radius: 5px;
        color: #4A1E00 !important;
    }
    nav li > a:hover {
        margin: auto 5px;
        border: solid 1px #2B78E4;
        border-radius: 5px;
        color: #4A1E00 !important;
    }
}

@media screen and (max-width: 700px) {
    .index-grab, #index-title, #index-sub {
        font-size: 3rem;
    }
}