{% extends 'base.html' %}
{% load static %}

{% block title %}
    - 404
{% endblock %}

{% block pageheader %}

{% endblock %}

{% block content %}
    <div class="errorpage-full">
        <div class="container errorpage-padding">
            <div class="row">
                <div class="col-12 my-auto text-center">
                    <h1 class="errorpage-title">404</h1>
                    <h3 class="errorpage-sub">Oh no, all the coffee is gone!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p>The page you are trying to access doesn't exist</p>
                    <span class="p-2"><a href="{% url 'home' %}">Home</a></span>
                    <span class="p-2"><a href="{% url 'products' %}?category=beans,ground,capsules,decaf">Coffee</a></span>
                    <p>Try navigating to a different part of the site to refill your cup</p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}