{% extends 'base.html' %}
{% load static %}

{% block title %}
    - 500
{% endblock %}

{% block pageheader %}

{% endblock %}

{% block content %}
    <div class="errorpage-full">
        <div class="container errorpage-padding">
            <div class="row">
                <div class="col-12 my-auto text-center">
                    <h1 class="errorpage-title">500</h1>
                    <h3 class="errorpage-sub">Oh no, we drank all the coffee!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center error-div">
                    <p>There has been an internal server error</p>
                    <span class="p-2"><a class="btn btn-border brown" href="{% url 'home' %}">Home</a></span>
                    <span class="p-2"><a class="btn btn-border brown" href="{% url 'products' %}?category=beans,ground,capsules,decaf">Coffee</a></span>
                    <p>Try navigating to a different part of the site while we brew some more</p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}