{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="CoffeeShop - your go to one stop shop for all things coffee. The best coffee sent straight to your door!" />
    <meta name="keywords" content="coffee, coffee shop, CoffeeShop, coffee beans, ground coffee, coffee machine, coffee subscription" />
    <meta name="author" content="Ellie Thurlwell" />

    <title>CoffeeShop {% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'assets/coffee-beans.png' %}" type="image/x-icon">

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/94b2e200e5.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
    {% endblock %}
</head>

<body>

    <!-- site wide header -->
    <header>
        <div class="row">

            <div class="col-12 col-lg-9 my-auto text-center text-lg-left">
                <span>
                    <a href="{% url 'home' %}" class="nav-link">
                        <h2 class="logo brown">CoffeeShop</h2>
                    </a>
                </span>
            </div>

            <div class="col-12 col-lg-3 my-auto">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">

                    <li class="list-inline-item">
                        <a class="text-black nav-link" href="#" id="dropdown-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <p class="my-0 brown">Search</p>
                                <div><i class="fas fa-search fa-lg brown"></i></div>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0 w-100" aria-labelledby="dropdown-search">
                            <form class="form" method="GET" action="">
                                <div class="input-group w-100">
                                    <input class="form-control border border-black" type="text" name="s" placeholder="Find your coffee">
                                    <div class="input-group-append search-icon">
                                        <button class="form-control btn btn-black border border-black" type="submit">
                                            <span class="icon">
                                                <i class="fas fa-search brown"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <p class="my-0 brown">Account</p>
                                <div><i class="fas fa-user fa-lg brown"></i></div>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item brown">Admin Controls</a>
                                {% endif %}
                                <a href="" class="dropdown-item brown">Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item brown">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item brown">Sign Up</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item brown">Login</a>
                            {% endif %}
                        </div>
                    </li>

                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                            <div class="text-center">
                                <p class="my-0 brown">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                                </p>
                                <div><i class="fas fa-shopping-cart fa-lg brown"></i></div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="row">
            <nav class="navbar navbar-expand-lg w-100"> 
                <!-- padding 0 -->
                <!-- mobile collapse navbar -->
                <button class="navbar-toggler brown" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon brown"></span>
                </button>
                <!-- site wide navbar -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav w-auto mx-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link brown" href="#" id="coffee-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Coffee
                            </a>
                            <div class="dropdown-menu" aria-labelledby="coffee-link">
                                <a href="{% url 'products' %}" class="dropdown-item brown">All</a>
                                <a href="" class="dropdown-item brown">Beans</a>
                                <a href="" class="dropdown-item brown">Ground Coffee</a>
                                <a href="" class="dropdown-item brown">Machine Capsules</a>
                                <a href="" class="dropdown-item brown">Decaf</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link brown">Subscription</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link brown" href="#" id="coffee-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Equipment
                            </a>
                            <div class="dropdown-menu" aria-labelledby="coffee-link">
                                <a href="" class="dropdown-item brown">All</a>
                                <a href="" class="dropdown-item brown">Drip coffee</a>
                                <a href="" class="dropdown-item brown">Coffee makers</a>
                                <a href="" class="dropdown-item brown">Filter papers</a>
                                <a href="" class="dropdown-item brown">Mugs</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link brown">Locations</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    {% if messages %}
    {% endif %}

    <!-- extra page header content -->
    {% block pageheader %}
    {% endblock %}

    <!-- main content -->
    <main>
        {% block content %}
        <!-- page specific content -->
        {% endblock %}
    </main>

    <!-- site wide footer -->
    <footer class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="brown">Follow Us!</h6>
                    <a class="btn brown" href="http://facebook.com" target="_blank" rel="noopener" aria-label="Find us on Facebook (opens in a new tab)"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn brown" href="http://twitter.com" target="_blank" rel="noopener" aria-label="Find us on Twitter (opens in a new tab)"><i class="fab fa-twitter"></i></a>
                    <a class="btn brown" href="http://instagram.com" target="_blank" rel="noopener" aria-label="Find us on Instagram (opens in a new tab)"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}    
</body>

</html>