{% extends 'base.html' %}
{% load static %}


{% block title %}
    - Contact
{% endblock %}

{% block pageheader %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h3>Contact</h3>
            <hr class="mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <p class="brown">Please fill out the form to get in touch with us</p>
            <form method="POST">
                {% csrf_token %}
                {{ contact_form | crispy }}
                <div class="submit-btn text-right mt-5 mb-2">
                    <button class="btn btn-border brown" id="submit-btn">Send message</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}